
@import '../../scss/var/_colors.scss';
@import '../../scss/var/_dimensions.scss';

@import '../../scss/mixin/_sizing.scss';

.vd6-title-menu {
  padding: 1em;
  text-transform: uppercase;
}

.vd6-title-menu__item {
  margin-bottom: 1em;
}
