
@import '~@scss/var/_colors.scss';
@import '~@scss/var/_dimensions.scss';

@import '~@scss/mixin/_sizing.scss';

.vd6-score-board {
  align-items: center;
  background-color: rgba($color__black, 0.5);
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  position: absolute;
  top: 0;
  width: $app__width;
}

.vd6-score-board__container {
  align-items: center;
  color: rgba($color__white, 0.2);
  display: flex;
  height: 2em;
  justify-content: space-between;
  padding: 0 $app__column;
  width: $app__width;
  max-width: $app__bp--md;
}

.vd6-score-board__stat {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  text-transform: uppercase;
  width: $app__column * 2;
  max-width: $app__bp--sm * 0.5;
}
