
@import '../../scss/var/_colors.scss';
@import '../../scss/var/_dimensions.scss';

@import '../../scss/mixin/_sizing.scss';

.vd6-title-card {
  @include size($title-card__width, $title-card__height);
  align-items: center;
  display: flex;
  justify-content: center;
}

.vd6-title-card__svg {
  @include square(100%);
  border: 1px solid rgba($color__red, 0.2);
}

.vd6-title-card__path--fill {
  fill: rgba($color__yellow, 0.8);
  opacity:  0;
}

.vd6-title-card__path--stroke {
  fill: transparent;
  stroke: rgba($color__green, 0.8);
  stroke-width: $border__width;
}
