
<div class="vd6-title-card">

  <div class="vd6-title-card__wrapper"
    :style="'width: ' + width + 'px; height: ' + height + 'px;'">

    <svg class="vd6-title-card__svg"
      preserveAspectRatio="xMidYMid slice"
      viewBox="0 0 200 100"
      width="200" height="100">
      
      <path class="vd6-title-card__path vd6-title-card__path--fill" :d="points"/>
      <path class="vd6-title-card__path vd6-title-card__path--stroke" :d="points"/>
      
      <!-- <g class="vd6-title-card__path vd6-title-card__path--fill"
        v-html="titleCard.logo"></g> -->
    
    </svg>

  </div>
</div>
