
body {
  color: $color__black;
  font-family: 'PT Mono', monospace;
  font-size: $font__size;
  margin: 0;
  overflow: hidden;
  padding: 0;
  
  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

svg {
  border: 1px solid pink;
}

path {
  fill: transparent;
  stroke: rgba($color__blue, 0.5);
  stroke-width: $border__width;
}
