
$color__black: #323333;
$color__white: #fcffff;

$color__red: #f44336;
$color__red--dark: #c51104;
$color__yellow: #ffeb3b;
$color__yellow--dark: #d1ba01;
$color__green: #8bc34a;
$color__green--dark: #5a911a;
$color__blue: #2196f3;
