
@import '~@scss/var/colors';
@import '~@scss/var/dimensions';

@import '~@scss/mixin/background';
@import '~@scss/mixin/sizing';

@import '~@scss/common/frame';

.vd6-stage {
  @include radial-overlay($color__blue--darkest, $color__black);
  @include size($app__width, $app__height);
  position: relative;
}

.vd6-stage__cinematic {
  @include size($app__width, $app__height);
  background-color: $color__black;
  position: absolute;
  top: 0; left: 0;
}
