
<div class="vd6-ready-trays">

  <div class="vd6-ready-trays__container">

    <div class="vd6-ready-trays__active-drop">
      <active-drop
        :active-selector="selector + '__tray--active'"
        :drop="drop"
        :key="dropId"
        :update-drops="updateDrops"
        v-for="(drop, dropId) in activeDrops">
      </active-drop>
    </div>

    <ready-tray
      :key="trayId"
      :tray="tray"
      v-for="(tray, trayId) in readyTrays">
    </ready-tray>

    <div class="vd6-ready-trays__tray"
      :class="{
        'vd6-ready-trays__tray--disabled': !hasAlchemistPerk
      }">
    </div>

  </div>
</div>
