
<div class="vd6-frame vd6-frame--omega-phase">

  <cinematic
    :key="index"
    :screen="screen"
    v-for="(screen, index) in stage.screens" >
  </cinematic>

  <patient :levels="levels"></patient>

  <status
    :pain="pain"
    :pain-count="threshold.pain"
    :progress="progress"
    :progress-count="threshold.progress">
  </status>

  <ready-trays
    :has-alchemist-perk="hasAlchemistPerk"
    :on-cure="onCure"
    :update-score="updateScore">
  </ready-trays>

  <levels :levels="levels"></levels>

</div>
