
$color__black: #121111;
$color__white: #fcffff;

$color__gray--light: #dcdddd;
$color__gray: #c3c4c4;
$color__gray--dark: #969999;
$color__gray--darker: #646666;
$color__gray--darkest: #323333;

$color__red--lighter: #FF888D;
$color__red--light: #F14950;
$color__red: #FF190D;
$color__red--dark: #c51104;
$color__red--darker: #A00309;

$color__rose--lightest: #FFA1D9;
$color__rose--lighter: #FF8AD0;
$color__rose--light: #FF66C1;
$color__rose: #FF1AA2;
$color__rose--dark: #B2096E;
$color__rose--darker: #9F005F;
$color__rose--darkest: #520031;

$color__orange: #fa6824;
$color__orange--dark: #bb4a19;

$color__yellow: #ffeb3b;
$color__yellow--dark: #d1ba01;

$color__green--light: #17E81F;
$color__green: #009B06;
$color__green--dark: #5a911a;

$color__blue--light: #3ca9ff;
$color__blue: #2196f3;
$color__blue--dark: #0b62a6;
