
$app__width: 100vmin;
$app__height: $app__width * (3/4);

$app__bp--sm: 375px;
$app__bp--md: 786px;
$app__bp--lg: 1200px;

$app__column: $app__width / 9;
$app__row: $app__height / 9;

$app__margin: $app__column * 2;
$app__padding: $app__column * 0.25;

/**
 * Animation
 */

$app__ani-dur: 200ms;

/**
 * Borders
 */

$border__width: $app__height * 0.01;

/**
 * Fonts
 */

$font__size: calc(10px + (#{$app__height} * .001));

/**
 * Cinematic
 */

$cinematic__height: $app__height * .50;
$cinematic__width: $app__width;

/**
 * Grid
 */

$grid__width: $app__width;
$grid__height: $app__height;

/**
 * Patient
 */

$patient__width: $app__width - ($app__column * 4);
$patient__height: $app__height - ($app__row * 2); //$patient__width * 1.5;

/**
 * Stage
 */

$stage__dot__size: $app__row * 0.75;

/**
 * Title Card
 */

$title-card__height: $app__height * .50;
$title-card__width: $app__width;
