
.vd6-player-display {
  align-items: center;
  background-color: rgba($color__black, 0.8);
  color: $color__white;
  display: flex;
  height: 2em;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: $app__width;
}

.vd6-player-display__stat {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: $app__margin;
}
