
@import '~@scss/var/_colors.scss';
@import '~@scss/var/_dimensions.scss';

@import '~@scss/mixin/_sizing.scss';

.vd6-levels {
  color: rgba(white, 0.2);
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 8 / span 2;
  grid-row: 2 / span 6;
  justify-content: space-between;
  position: relative;
}

.vd6-levels__label {
  position: absolute;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
}

.vd6-levels__level {
  @include square($app__row);
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

// Level Condition defaults

.vd6-levels__level--bloom {
  color: rgba(red, 0.2);
}
.vd6-levels__level--critical {
  color: rgba(yellow, 0.2);
}
.vd6-levels__level--stable {
  color: rgba(green, 0.2);
}

.vd6-levels__svg {
  height: 100%;
  max-height: 100%;
  visibility: hidden;
  width: 100%;
}

// Level Condition by Name

.vd6-levels__level--cell-cohesion {
  transition: letter-spacing $app__ani-dur ease-in-out;

  &.vd6-levels__level--bloom {
    letter-spacing: 0.25em;
  }
  &.vd6-levels__level--critical {
    letter-spacing: 0.15em;
  }

  .membrane--inner {
    fill: $color__rose--dark;
    stroke: $color__rose--darker;
  }

  .membrane--outer {
    fill-opacity: 0.2;
    stroke-width: 0.5;

    &.membrane--critical {
      visibility: hidden;
    }
    &.membrane--stable {
      fill: $color__rose--dark;
      stroke: $color__rose--darker;
      visibility: hidden;

      &:first-child {
        visibility: visible;
      }
    }
  }
}

.vd6-levels__level--iron {
  .blood-cell {
    path {
      fill: rgba($color__rose, 0.2);
      stroke: $color__rose--darker;
      stroke: rgba(#000, 0.25);
    }
  }

  .heart--inner {
    fill: $color__rose--darker;
    stroke: $color__rose--dark;
    visibility: hidden;

    &:first-child {
      visibility: visible;
    }
  }

  .heart--outer {
    fill: rgba($color__rose--darker, 0.2);
    stroke: $color__rose--darker;
    stroke-width: 0.5;
  }
}
