
@import './scss/var/_colors.scss';
@import './scss/var/_dimensions.scss';

@import './scss/mixin/_sizing.scss';

.vd6 {
  color: $color__black;
  font-family: 'PT Mono', monospace;
  font-size: $font__size;
}

/**
 * VD6
 */

.vd6 {
  @include size($app__width, $app__height);
  background-color: rgba($color__black, 0.1);
  position: relative;
  /**
   * No margin or padding here, this is a full-sized relative container.
   * If a child needs alignment, it should handle it\
   */
}

.vd6-frame {
  @include size($app__width, $app__height);
  align-items: center;
  display: flex;
  justify-content: center;
}
