
@import '~@scss/var/colors';
@import '~@scss/var/dimensions';

@import '~@scss/mixin/background';
@import '~@scss/mixin/sizing';

body {
  @include size(100vw, 100vh);
  background-color: $color__black;
  align-items: center;
  display: flex;
  justify-content: center;
}

.vector-drop-6 {
  @include size($app__width, $app__height);
  background-color: $color__blue--darkest;
  color: $color__black;
  font-family: 'PT Mono', monospace;
  font-size: $font__size;
  position: relative;

  /**
   * No margin or padding here, this is a full-sized relative container.
   * If a child needs alignment, it should handle it\
   */

  h1, h2, h3, h4, h5, h6, p {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

.vd6-frame {
  @include size($app__width, $app__height);
  align-items: center;
  border: 1px solid rgba($color__white, 0.05);
  border-radius: $app__column;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
